body {
    min-width: 100vw;
    min-height: 100vh;;
    background-image: url('../../assets/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
    display:table-cell;
    vertical-align:middle;
}


header{
    background-color: #00386C;
    position: relative;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img{
    max-height: 50px;
    padding: 10px 10px;
}

.page-button button{
    padding: 15px 30px;
    margin: 0 100px 0 50px;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
}

.page-button button:hover{
    background-color: yellowgreen;
    color: #fff;
}

.page-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-container{
    margin-top: 7rem;
    margin: auto;
    display:table;
}

.login-box{
    background-color: #fffacd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 400px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto auto auto;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

input, select{
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 20px;
    background-color: #f0e68c;
}

.form-group p{
    margin-top: -10px;
}

.form-group button{
    display: block;
    margin: 0 auto; 
    background-color: #00386C;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 40px;
    padding: 10px 35px;
    width: 130px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.form-group button:hover {
    background-color: #BC98B0;
}

.footer {
    background-color: #00386C;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}